<ion-list>
  <ion-list-header>Clusters</ion-list-header>
    <ion-item>
      <button ion-button clear (click)="close('CRM')">CRM</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('Dreamforce Attendees')" text-wrap>Dreamforce Attendees</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('Northeast Territory')">Northeast Territory</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('All Customers')">All Customers</button>
    </ion-item>
</ion-list>





