<ion-list>
    <ion-list-header>Campaigns</ion-list-header>
    <ion-item>
      <button ion-button clear (click)="close('Tech Gazelles')">Tech Gazelles</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('Service Leaders')">Service Leaders</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('Health Tech Consulting')">Health Tech Consulting</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('Funded Startups')">Funded Startups</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('Growth Market Giants')">Growth Market Giants</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('Up-Market Financials')">Up-Market Financials</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('Trendy Nonprofits')">Trendy Nonprofits</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('Acquisitions & Mergers')">Acquisitions & Mergers</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('All Campaigns')">All</button>
    </ion-item>
</ion-list>



