histogram {
    .histogram-col {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        height: auto;
        border: solid 2px grey;
    }
    .histogram {
        width: 100%;
    }
    #Peter {
        width: 100%;
    }
}