.ios, .md {
  page-campaign {

    img {
      border-radius: 8px;
      border: 1px solid #000;
    }
    p {
      font-size: 16px;
      line-height: 1.5;
      color: #000000;
    b {
      color: #000000;
    }
  }

  }
}
