<ion-list>
    <ion-list-header>Status</ion-list-header>
    <ion-item>
      <button ion-button clear (click)="close('TOFU Status')">TOFU</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('HVL Status')">HVL</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('MQL Status')">MQL</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('SQL Status')">SQL</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('Any Status')">Any</button>
    </ion-item>
</ion-list>






