<ion-list>
  <ion-list-header>Duration</ion-list-header>
    <ion-item>
      <button ion-button clear (click)="close('7 Days')">7 Days</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('30 Days')">30 Days</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('90 Days')">90 Days</button>
    </ion-item>
    <ion-item>
      <button ion-button clear (click)="close('1 Year')">1 Year</button>
    </ion-item>
</ion-list>












